* {
  box-sizing: border-box;
}

html {
  background-color: beige;
}

div {
  font-size: 25px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.grid {
  margin: auto;
  margin-top: 10rem;
  padding: 8px;
  width: 465px;
  height: 465px;
  background-color: gainsboro;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  border: #323232 2px solid;
}

.grid div {
  background-color: azure;
  width: 40px;
  height: 40px;
  border: #323232 1px solid;
}

div.selected {
  background-color: rgb(214, 199, 199);
  border: none;
}

h1 {
  margin: auto;
  margin-top: 3rem;
  color: #323232;
}
