* {
  box-sizing: border-box;
}

html {
  background-color: beige;
}

.grid {
  margin: auto;
  margin-top: 10em;
  padding: 10px;
  width: 465px;
  height: 465px;
  background-color: gainsboro;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.grid div {
  background-color: azure;
  width: 40px;
  height: 40px;
}

div.selected {
  background-color: aquamarine;
}

div.bomb {
  background-color: gray;
}
